.Weather {
  border: 2px solid black;
  border-radius: 5px;
  padding: 50px;
  background-color: #18122b;
  color: #fff;
}

ul {
  list-style: none;
}

.search-button {
  border-radius: 8px;
  padding: 5px 10px;
  background-color: white;
  transition: all 200ms ease-in-out;
  color: #443c68;
}

.search-button:hover {
  background-color: #635985;
  border: 2px solid white;
  color: white;
}

.search-input {
  border-radius: 8px;
  padding: 5px 10px;
}

.icon-temp {
  align-items: center;
}

.city-name {
  font-size: 32px;
  color: #beb7d5;
}

.temperature {
  font-size: 36px;
}

.units-link {
  color: #bbaee9;
  text-decoration: none;
}

.units-link:hover {
  color: #fff;
  text-decoration: underline;
  font-weight: 800;
}

.date-description {
  padding-left: 0;
  line-height: 1;
}
