.Weather {
  border: 2px solid black;
  border-radius: 5px;
  padding: 50px;
}

.Weather ul {
  list-style: none;
}

.Weather .search-button {
  border-radius: 8px;
  padding: 5px 10px;
  background-color: white;
  transition: all 200ms ease-in-out;
}

.Weather .search-button:hover {
  background-color: black;
  border: 2px dashed white;
  color: white;
}

.Weather .search-input {
  border-radius: 8px;
  padding: 5px 10px;
}

.Weather .icon-temp {
  align-items: center;
}

.Weather .city-name {
  font-size: 32px;
}

.Weather .temperature {
  font-size: 36px;
}

.Weather .date-description {
  padding-left: 0;
  line-height: 1;
}
